/* Login Section */
.shadow-box {
    background: #ffffff;
    box-shadow: 0px 16px 16px #f7f7f7, 0px 24px 32px #f7f7f7;
    border-radius: 10px;
    padding: 24px;
}

.box-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.vertical-center {
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-container {
    padding-right: 20px;
    min-width: 370px;
}

.form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.form-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
}

.form-group {
    margin-top: 14px;
}

.label-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
.form-select {
    width: 100%;
    padding: 24px 12px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


select {
    padding: 12px 30px !important;
    background-color: #ffffff;
}

select:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.form-select:focus {
    border: none;
    border: 1px solid #be263b;
    box-shadow: none;
    background-color: rgba(190, 38, 59, 0.05);
}

.email::after {
    content: "⛅";
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 35px !important;
}

.left-inner-addon i {
    position: absolute;
    padding-left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input[type="submit"],
input[type="button"] {
    width: 100%;
    background-color: #be263b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.eye-icon {
    margin-left: 310px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px !important;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    /* padding: 2px; */
    /* background-color only for content */
    background-clip: content-box;
    /* border: 5px solid #be263b; */
    background-color: #E0E0E0;
    border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    border: 5px solid #be263b;
    background-color: #ffffff;

}

.radio-label-text {
    position: relative;
    width: 31px;
    height: 24px;
    left: -15px;
    top: -5px;
    margin-left: 30px;
    margin-top: 5px;
    color: #000000;

    /* opacity: 0.7; */

}

.dob-input {
    display: flex;
    gap: 15px;
}

.phone-code-select {
    flex: 1;
}

.phone-input {
    flex: 2;
}

.text-red {
    color: #be263b;
}

.text-end {
    text-align: right !important
}

.error-message {
    background-color: rgba(251, 220, 211, 0.25);
    padding: 8px;
}

.signup-second {
    left: -150%;
    transition: 0.6s ease;
}

.signup-first {
    top: 50%;
    transition: 0.6s ease;
}

option::hover {
    background: rgba(190, 38, 59, 0.05);
    color: #BE263B;
}

option {
    background: rgba(190, 38, 59, 0.05);
    color: #BE263B;
    font-size: 16px;
    line-height: 32px;
}

.text-center {
    text-align: center;
}

.fa {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900)
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto
}

.fa-eye:before {
    content: "\f06e"
}

.fa-eye-slash:before {
    content: "\f070";
    color: #828282
}

.fa-circle-check:before {
    content: "\f058"
}

.fa-times:before:before {
    content: "\f00d"
}

.list-name,
.task-name,
.task-priority,
.date-input {
    padding: 14px 14px !important;
}

.date-input:focus {
    outline: none!important;
    border: none!important;
    border: 1px solid #be263b!important;
    box-shadow: none!important;
    background-color: rgba(190, 38, 59, 0.05)!important;
    padding: 13px 14px !important;
}